body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dfdfdf;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


/* Outer frame */
.progress-container {
    width: 300px;
    height: 24px;
    border: 2px solid #fff;
    border-right-color: #808080;
    border-bottom-color: #808080;
    background-color: #c0c0c0;
    padding: 2px;
    box-shadow: inset -1px -1px #fff, inset 1px 1px #808080;
}

/* Inner bar background */
.progress-bar {
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(45deg,
            #001380 0 10px,
            #021688 10px 20px);
    background-size: 40px 40px;
    animation: moveStripes 1s linear infinite;
    border: 1px solid #000;
}

/* Animation for stripes */
@keyframes moveStripes {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 40px 0;
    }
}